In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect('example.db')
connection

In [3]:
cursor = connection.cursor()

In [5]:
cursor.execute('''
Create Table If Not exists employees(
               id Integer Primary key,
               name Text Not Null,
               age Integer,
               department text
               )

''')


## commit the changes
connection.commit()

In [6]:
cursor.execute('''
select * from employees

''')

In [19]:
## Insert the data in sqllite table
cursor.execute(
    '''
insert into employees(name,age,department) Values('abdul',45,'MBA')
'''
)

cursor.execute(
    '''
insert into employees(name,age,department) Values('bob',36,'Data Engineer')
'''
)

cursor.execute(
    '''
insert into employees(name,age,department) Values('chitti',24,'Finance')
'''
)

In [20]:
connection.commit()

In [21]:
### Query the data from the table

cursor.execute('''
select * from employees
''')
rows = cursor.fetchall()

## print the queried data
for row in rows:
    print(row)

(1, 'krish', 34, 'Data Scientist')
(2, 'abdul', 45, 'MBA')
(4, 'chitti', 24, 'Finance')
(5, 'abdul', 45, 'MBA')
(6, 'bob', 36, 'Data Engineer')
(7, 'chitti', 24, 'Finance')

In [15]:
#Update the data into the table
cursor.execute('''update employees set age = 34 where name = 'krish'
               ''') 
connection.commit()

In [17]:
## delete the data
cursor.execute('''delete from employees where name = 'bob'
               ''') 
connection.commit()

In [23]:
## executemany statement

data = [
    ( 'krish', 34, 'Data Scientist'),
( 'abdul', 45, 'MBA'),
( 'chitti', 24, 'Finance'),
( 'abdul', 45, 'MBA'),
( 'bob', 36, 'Data Engineer'),
('chitti', 24, 'Finance')
]

cursor.executemany('''
insert into employees(name,age,department) values (?,?,?)
''',data)

connection.commit()

In [24]:
### Query the data from the table

cursor.execute('''
select * from employees
''')
rows = cursor.fetchall()

## print the queried data
for row in rows:
    print(row)

(1, 'krish', 34, 'Data Scientist')
(2, 'abdul', 45, 'MBA')
(4, 'chitti', 24, 'Finance')
(5, 'abdul', 45, 'MBA')
(6, 'bob', 36, 'Data Engineer')
(7, 'chitti', 24, 'Finance')
(8, 'krish', 34, 'Data Scientist')
(9, 'abdul', 45, 'MBA')
(10, 'chitti', 24, 'Finance')
(11, 'abdul', 45, 'MBA')
(12, 'bob', 36, 'Data Engineer')
(13, 'chitti', 24, 'Finance')

In [25]:
connection.close()