In [21]:
import pandas as pd
import numpy as np

n_samples = 1000
n_ratio = 0.9
n_size = int(n_samples*n_ratio)
m_size = n_samples - n_size

In [22]:
n_size,m_size

(900, 100)

In [29]:
class_0 = pd.DataFrame(
    {
        'featue_1' : np.random.normal(loc=0,scale=1,size=n_size),
        'featue_2' : np.random.normal(loc=0,scale=1,size=n_size),
        'output' : [0]*n_size
    }
)

class_1 = pd.DataFrame(
    {
        'featue_1' : np.random.normal(loc=2,scale=1,size=m_size),
        'featue_2' : np.random.normal(loc=2,scale=1,size=m_size),
        'output' : [1]*m_size
    }
)

In [30]:
df = pd.concat([class_0,class_1]).reset_index(drop=True)
# reset index is when we concat a new index will be generated.

In [31]:
df.head()

   featue_1  featue_2  output
0 -1.471460 -0.889214       0
1 -2.340006 -0.520011       0
2 -1.795283 -0.007198       0
3 -0.725752 -0.236109       0
4  0.399633 -0.687151       0

In [9]:
df.tail()

     featue_1  featue_2  output
995  0.661020  1.150390       1
996  1.394001  1.804658       1
997  3.851368  1.601028       1
998 -0.607936  0.973831       1
999  1.233653  1.272835       1

In [32]:
df['output'].value_counts()

output
0    900
1    100
Name: count, dtype: int64

In [13]:
## Upsampling
from sklearn.utils import resample
minority = df[df['output'] == 1]
majority = df[df['output'] != 1]

In [15]:
upsampled = resample(
            minority,replace=True, #sampling with Replacement
            n_samples=n_size
)
upsampled.head()

     featue_1  featue_2  output
931  1.931094  1.125019       1
938  1.200075  0.410980       1
926  2.523611  2.076667       1
964  1.053771  3.487503       1
923  2.943738  1.219323       1

In [16]:
df_usampled = pd.concat([majority,upsampled])

In [17]:
df_usampled['output'].value_counts()

output
0    900
1    900
Name: count, dtype: int64

### Downsampling

In [35]:
# once again reinitialize the Df run the first four cells once
minority = df[df['output'] == 1]
majority = df[df['output'] != 1]
downsampled = resample(
            majority,replace=False, #sampling with Replacement
            n_samples=m_size
)
df_downsampled = pd.concat([minority,downsampled])

In [36]:
df_downsampled['output'].value_counts()

output
1    100
0    100
Name: count, dtype: int64